body {
  background-color: #ecf0f1;
}

#our-creed {
  font-size: 20px;
}

#landing-img {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}

.menu-label {
  font-size: 20px;
}

.cafe-name {
  font-size: 80px;
  /* background-color: hsla(13, 3%, 74%, 0.82);
  border-radius: 4px; */
}

.cafe-name-small {
  font-size: 55px;
}

.cafe-name,
.cafe-name-small {
  background-color: hsla(13, 3%, 74%, 0.82);
  border-radius: 4px;
}

.beeg-title {
  font-size: 50px;
}
